.fixed-column {
	float: left;
	width:290px; /* defines fixed column width */
}	

.left.fixed-column{
	margin:0px 10px 0px 0px; /* margin-right */
}

.right.fluid-column{
	margin:0px 0px 0px 300px; /* same as width, plus gutter */
}

.left.fluid-column{
	float:left;
	width:100%;
}

.left.fluid-column .inner, .right.fluid-column .fluid-column .inner { /* inner element must have this class */
	margin:0px 300px 0px 0px; 
} 

.right.fixed-column {
	margin-left:-290px !important; /* same as width, plus gutter */
}


/* center fluid */
.right.fluid-column .fluid-column  {
	width: 100%;
}



/* just to highlight columns - you can delete these styles */
.box {
	background-image: none;
}

.fixed-column .box, .fluid-column .box { 
	height: 600px;
}

.fixed-column .box {
	background-color: #ccc;
}

.header {
	height: 50px;
	padding: 20px 10px;
	background: #ddd;
	margin: 10px auto;
}

.footer {
	clear:both;
	text-align: center;
	padding: 10px auto;
	background: #eee;
}